{% load static core_tags %}
{% extends "core/base.html" %}

{% block content %}
    <h1>Welcome to your new wagtail site!</h1>
    <p>If you haven't already given the documentation a read, head over to <a href="http://wagtail.readthedocs.org/">http://wagtail.readthedocs.org</a></p>
    
    <h2>Get up and running</h2>
    <p>A database connection has been automatically configured in <code>settings/base.py</code> for a database called "<strong>{{ project_name }}</strong>". You will need to install PostgreSQL yourself if it isn't already present.</p>
{% endblock %}
